@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-quicksand: Quicksand, sans-serif;
  --font-mona: Mona Sans, sans-serif;
  --font-aclonica: Aclonica, sans-serif;
}
